<div class="parallax">
  <div class="row">
    <div class="column contentContact">
      <div>
        <img src="../assets/logoPag.png" class="logoDuda">
      </div>

       <!--EMAIL-->
      <a href="mailto:contatobandaddr@gmail.com" role="tab" aria-controls="settings">
      <button type="button" class="btn btn-light">
        <img src="../assets/mail.png" width="30px" height="30px">
        <strong>E-mail</strong>
      </button><br>
      </a>

      <!--YOUTUBE-->
      <a href="https://www.youtube.com/channel/UCX3X26aJRKXFdezM9-M8QgQ" role="tab" aria-controls="settings">
      <button type="button" class="btn btn-light">
        <img src="../assets/youtube.png" width="30px" height="30px">
        <strong>YouTube</strong>
      </button><br>
      </a>

      <!--FACEBOOK-->
      <a href="https://www.facebook.com/ddraamos" role="tab" aria-controls="settings">
      <button type="button" class="btn btn-light">
        <img src="../assets/facebook.png" width="27px" height="27px">
        <strong>Facebook</strong>
      </button><br>
      </a>

      <!--WHATSAPP-->
      <a href="https://api.whatsapp.com/send?phone=5519994326460" role="tab" aria-controls="settings">
      <button type="button" class="btn btn-light">
        <img src="../assets/whatsapp.png" width="27px" height="27px">
        <strong>WhatsApp</strong>
      </button>
      </a><br>

      <!--TELEGRAM-->
      <a href="https://t.me/joinchat/E7h96C-o3TZ4Mj5F" role="tab" aria-controls="settings">
      <button type="button" class="btn btn-light">
        <img src="../assets/telegram.png" width="27px" height="27px">
        <strong>Telegram</strong>
      </button>
      </a>
    </div>
  </div>

</div>

