<div class="parallax">
  <div class="row mr-0">
    <div class="column">
      <div class="contentContact">
        <div class="imagens">
          <div>
            <img src="../assets/Duda.png" class="fotoDuda" />
          </div>
          <div style="margin-top: 5px">
            <img src="../assets/logoPag.png" class="logoDuda" />
          </div>
        </div>

        <div class="buttons">
          <!--WHATSAPP-->
          <a
            href="https://api.whatsapp.com/send?phone=5519994326460"
            role="tab"
            aria-controls="settings"
          >
            <button type="button" class="btn">
              Convite para ministrações
            </button> </a
          ><br />

          <!--YOUTUBE-->
          <a
            href="https://youtube.com/c/DudaRamoss"
            role="tab"
            aria-controls="settings"
          >
            <button type="button" class="btn">Canal YouTube</button><br />
          </a>

          <!--FACEBOOK-->
          <a
            href="https://www.facebook.com/ddraamos"
            role="tab"
            aria-controls="settings"
          >
            <button type="button" class="btn">Facebook</button><br />
          </a>

          <!--SPOTIFY-->
          <a
            href="https://open.spotify.com/artist/0pqOWc5wPigrfmTdh4k7I5?si=m884C3INTWmyO_dbNE0ObA"
            role="tab"
            aria-controls="settings"
          >
            <button type="button" class="btn">Spotify</button><br />
          </a>
        </div>

        <div class="icones">
          <img src="../assets/facebook.png" width="27px" height="27px" />
          <img src="../assets/instagram.png" width="27px" height="27px" />
          <img src="../assets/spotify.png" width="27px" height="27px" />
          <img src="../assets/youtube.png" height="27px" />
          <img src="../assets/whatsapp.png" width="27px" height="27px" />
        </div>
      </div>
    </div>
  </div>
</div>
